@tailwind base;
@tailwind components;
@tailwind utilities;

.hello {
  background-image: url("../public/2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 91.6vh;
}
